<!doctype html>
<html>
<head>
    <title>Grass Cutters</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <style>
        body        { padding-top:80px; background-image: url(../images/bg.jpeg);}
        .fa-leaf:before { color: green; }
        .jumbotron h1 {color: green;}
        .jumbotron a {color:green;}
        .container {padding-top: 8%;}
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-leaf"></span> Grass Cutters</h1>

        <a href="/addCustomer" class="btn btn-success-default btn-lg"><span class="fa fa-user"></span> Add Customer</a>
        <a href="/weekOne" class="btn btn-success-default btn-lg"><span class="fa fa-wrench"></span> Weekly Printout</a>
        <a href="/billingMarch" class="btn btn-success-default btn-lg"><span class="fa fa-money"></span> Monthly Billing</a>
    </div>

</div>
</body>
</html>